/* Override some defaults */
/* Override some defaults */
html,
body {
  background-color: #252525;
}
.navbar {
  margin-bottom: 0;
}
body > .container {
  background-color: #eee;
}
body > .container > header {
  background-color: #333;
  padding-top: 6px;
  padding-bottom: 6px;
}
body > .container > header h1 a {
  color: white;
  text-decoration: none;
}
body > .container > header h1 small {
  color: #AAA;
}
body > .container > div.navbar {
  background-color: #CCC;
}
body > .container > div.navbar .container {
  background-color: #CCC;
}
body > .container > div.navbar .container fieldset[role="search"] {
  width: 99%;
  margin-top: 4px;
  float: right;
}
body > .container > footer {
  margin-top: 20px;
}
body > .container > footer p {
  text-align: center;
  /* center align it with the container */

}
/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: 'Signika', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}
.topbar .btn {
  border: 0;
}
.posts {
  font: 14px/1.62 "Signika", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}
.posts li {
  list-style: none;
}
.posts time {
  font-size: 60%;
}
/* tag_box ======================================================== */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0 ;
  overflow: hidden;
}
.tag_box li {
  line-height: 28px;
}
.tag_box inline li {
  float: left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #005F6B;
  border-radius: 3px;
  text-decoration: none;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
